In [1]:
import pandas as pd 
import numpy as np
import json

/mnt/c/Users/atyag/Documents/boxPlotApp/env/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [5]:
data = pd.read_csv('dataset/systems_data.csv') # Reading the dataset is done only once when the server is started
columns = list(data.columns) # Crete a list of columns in the dataset
for col in columns[:-1]: # For all columns except throughput
    data[col] = data[col].apply(str) # Change the datatype for each column to be of type string so that there are no conflicts when performing calculations on each of the columns
data_dummy = pd.get_dummies(data) #Since all the data in categorical, this creates a boolean dummy dataframe by creating columns of all the categories for each variable. This creates a column for each bar displayed
column_dummy = list(data_dummy.columns)

In [7]:
data_sort = data_dummy.sort_values(by="Throughput", ascending=False)

In [8]:
data_sort.head(4)

,Throughput,Workload_dbsrvr,Workload_filesrvr,Workload_mailsrvr,Workload_websrvr,FileSystem_btrfs,FileSystem_ext2,FileSystem_ext3,FileSystem_ext4,FileSystem_nilfs2,...,SpecialOp_nodatasum,SpecialOp_none,SpecialOp_notail,IOSch_cfq,IOSch_deadline,IOSch_noop,Device_500sas,Device_sas,Device_sata,Device_ssd
194,41948.00,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
200,41886.00,1,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
168,41878.33,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,1,0,0
159,41870.33,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [27]:
list(data_sort.columns[data_sort.iloc[0] == 1])[0]

'Workload_dbsrvr'

In [32]:
data_sort = data_sort.loc[data_sort['Workload_dbsrvr'] ==1]

In [39]:
data_sort = data_sort.drop('Workload_dbsrvr', axis=1)

In [40]:
data_sort

,Throughput,Workload_filesrvr,Workload_mailsrvr,Workload_websrvr,FileSystem_btrfs,FileSystem_ext2,FileSystem_ext3,FileSystem_ext4,FileSystem_nilfs2,FileSystem_reiserfs,...,SpecialOp_nodatasum,SpecialOp_none,SpecialOp_notail,IOSch_cfq,IOSch_deadline,IOSch_noop,Device_500sas,Device_sas,Device_sata,Device_ssd
24531,7067.71,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
24535,6876.50,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
24587,6867.36,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
24583,6746.07,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
3281,6611.50,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,1,0,0,0